<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Projekt aplikacji z przedmiotu Programowanie Aplikacji Mobilnych i Webowych">
	<meta name="author" content="Łukasz Glapiak (291067)">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>