{% extends "base.html" %}
{% block content %}
    <div class="content">
        <a id="logout" href="/logout"> Wyloguj się </a>
        <div class="files">
            <h2>Witaj {{ username }} w swoim systemie zarządzania bibliografią</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li class="alert-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% for file in files %}
            <div class="operations">
                <form class="download" action="/download" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="file" value="{{file}}" />
                    <p>{{file}}</p>
                    <p><input type="submit" value="download"/></p>
                </form>
                <form class="delete" action="/delete" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="file" value="{{file}}" />
                    <p><input type="submit" value="delete"/></p>
                </form>
				<div style="clear:both;"></div>
            </div>
            {% endfor %}
            <div class="upload">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <p>Dodaj plik:</p>
                    <ul>
                    <li class="col-md-12 form-group">
                        <input type="file" name="file" accept="application/pdf" required/>
                    </li>
                    <li class="col-md-12 form-group przeslij">
                        <input type="submit" value="Prześlij"/>
                    </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}